{% extends "header.html" %} {% block channel %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 build_source">
	<h3 class="page-header">
		Trends of {{ useractivity }} of video <i> {{ videoTitle | safe }}
		</i> during last {{ datetimerange }} {{ mode }}
	</h3>
	<h1>{{ total }} in total</h1>
	<script type="text/javascript">
		$(document).ready(function() {
			showChart();
			showChartAccum();
		});
		
		function showChart() {
			$('#container')
					.highcharts(
							{
								title : {
									text : "Daily statistics"
								},
								xAxis : {
									categories : {{ datetimeRangeList | safe }}
								},
								yAxis : {
									title : {
										text : 'Times of {{ useractivity }}'
									},
									plotLines : [ {
										value : 0,
										width : 1,
										color : '#808080'
									} ]
								},
								legend : {
									layout : 'vertical',
									align : 'right',
									verticalAlign : 'middle',
									borderWidth : 0
								},
								series: [
								         {% for val in videoDictList %}
								             {
								                 name: "{{ val.name | safe }}",
								                 data: {{ val.data }}
								             },
								         {% endfor %}
								         ]        
							});
		}
		
		function showChartAccum() {
			$('#containerAccum')
					.highcharts(
							{
								title : {
									text : "Accumulative daily statistics"
								},
								xAxis : {
									categories : {{ datetimeRangeList | safe }}
								},
								yAxis : {
									title : {
										text : 'Times of {{ useractivity }}'
									},
									plotLines : [ {
										value : 0,
										width : 1,
										color : '#808080'
									} ]
								},
								legend : {
									layout : 'vertical',
									align : 'right',
									verticalAlign : 'middle',
									borderWidth : 0
								},
								series: [
								         {% for val in videoDictAccumList %}
								             {
								                 name: "{{ val.name | safe }}",
								                 data: {{ val.data | safe }}
								             },
								         {% endfor %}
								         ]        
							});
		}
	</script>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<br>
	<div id="containerAccum" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</div>
</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../static/js/bootstrap/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/bootstrap/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
{% endblock %}
